.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  clear: both;
}

body {
  background-color: #F9F9F9;
  padding-top: 40px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  body { padding-top: 40px; }
}

small .label {
  font-size: 10px;
}

.fb-like, .twitter-share-button {
  margin-top: 5px;
}

.twitter-share-button {
  top: 5px;
  position: relative;
}

h1 > a:hover {
  text-decoration: none;
}
